@import 'normalize.css';
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@200;300;400;500;600;700&display=swap');
@import './GridSytem.scss';

:root {
    --primary: #e50914;
    --black: #000;
    --white: #fff;
    --blue: #3898ec;
    --text-color: #333;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    font-size: 62.5%;
}

body {
    font-family: 'Montserrat', sans-serif;
    font-size: 1.6rem;
    line-height: 1.5;
    text-rendering: optimizespeed;
    color: var(--white);
}

button,
input,
[tabindex] {
    border: none;
    outline: none;
    cursor: pointer;
}

a[href] {
    color: var(--white);
    text-decoration: none;
}

// Active
body .active {
    position: relative;
    color: var(--primary);

    &::after {
        content: '';
        position: absolute;
        bottom: 0px;
        left: 0;
        width: 100%;
        height: 2px;
        background-color: var(--primary);
        animation: letRight 0.3s linear;
    }
}

@keyframes letRight {
    from {
        width: 0;
    }
    to {
        width: 100%;
    }
}
