@import 'normalize.css';
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@200;300;400;500;600;700&display=swap');
@import './GridSytem.scss';

:root {
    --primary: #f1b722;
    --black: #000;
    --white: #fff;
    --blue: #3898ec;
    --text-color: #333;

    --header-slider-background: #0c2738;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    font-size: 62.5%;
}

body {
    font-family: 'Montserrat', sans-serif;
    font-size: 1.6rem;
    line-height: 1.5;
    text-rendering: optimizespeed;
    color: var(--text-color);
    background-color: #2d424e;
    cursor: default;
}

button,
input,
[tabindex] {
    border: none;
    outline: none;
    cursor: pointer;
}

a {
    color: var(--white);
    text-decoration: none;
}

ul {
    list-style: none;
}

// coustom swiper
.swiper-pagination-bullet {
    background-color: var(--white);
    opacity: 0.5;
}

.swiper-pagination-bullet-active {
    background-color: var(--primary);
    opacity: 1;
}
