.wrapper {
    padding: 50px 0;
}

.header {
    display: flex !important;
    justify-content: space-between;
    align-items: center;
}

.title {
    color: var(--primary);
    font-size: 4rem;
    font-weight: 700;
    margin-top: 10px;
    margin-bottom: 20px;
}

.more {
    color: var(--white);
    font-size: 1.5rem;
    font-weight: 600;
    background-color: #999;
    padding: 0px 8px;
    border-radius: 4px;

    &:hover {
        color: var(--primary);
    }
}
