.wrapper {
    height: 80px;
    align-items: center;
    justify-content: space-between;
    border-bottom: 1px solid var(--primary);
    background-color: var(--header-slider-background);
}

.nav {
    font-size: 3rem;
    font-weight: 900;
    margin: 0 14px;

    &:hover {
        color: var(--primary);
    }
}
